.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    position: relative;
    overflow: hidden;
    justify-content: center;
    flex-wrap: nowrap;
    /* полосы прокрутки не предоставляются */
    /* выше установили ограничения для секции */
  }
