.header__title {
    max-width: 730px;
    height: 100%;
    display: flex;
    padding: 0;
    margin: 0 0 0 64px;
    align-items: center;
    z-index: 3;
    line-height: 96px;
    font-size: 102px;
    font-weight: 600;
  }
