.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    color: #2f80ed;
    font-weight: normal;
    margin: 0 0 0 48px;
    padding: 0;
    text-decoration: none;
}

.khan__buy-link:hover {
    opacity: 0.5;
    transition: opacity 1s;
  }
